@keyframes underliner {
    from {
        border-bottom: 2px linea;
    }
    to {
        width: 100%
    }
}

@keyframes searchOpener {
    from {
        width: 0;
        
    }
    to {
        width: 75%;
        
    }
}

@keyframes searchCloser {
    from {
        width: 75%;
        border-left: 5px solid #DF2935;
    }
    to {
        width: 0;
        border-left: 0;
    }
}

@keyframes categoriesOpener {
    from {
        height: 0;
        bottom: -3px;
    }

    to {
         height: 300px;
         bottom: -303px;
    }
}

@keyframes categoriesCloser {
    from {
        height: 300px;
        bottom: -303px;
        border-bottom: 5px;


    }
    to {
        height: 0px;
        bottom: -3px;
        border-bottom: 0px;


    }
}




.search-field-open {
    animation: searchOpener 1s ease;
}

.search-field-close {
    animation: searchCloser 1s ease;
}


.categories-open {
    animation: categoriesOpener 1s ease;
}

.categories-close {
    animation: categoriesCloser 1s ease;
}